.better-section {
  padding: 80px 8%;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* CONTAINER */

.better-container {
  max-width: 1300px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 40px;

  align-items: start;
}

/* IMAGE */

.better-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.better-image {
  width: 100%;
  max-width: 650px;
  display: block;
  object-fit: contain;
}

/* CONTENT */

.better-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: -43px;
}

.better-title {
  font-size: 40px;
  color: #0f4c81;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 18px;
}

/* LIST */

.better-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.better-list li {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 6px;
  padding-bottom: 8px;

  border-bottom: 1px solid #e2e8f0;
}

.better-list li:last-child {
  margin-bottom: 0;
}

.better-icon {
  width: 38px;
  min-width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: #ffffff;

  font-size: 15px;

  flex-shrink: 0;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ICON COLORS */

.truck {
  background: #22c55e;
}

.money {
  background: #f59e0b;
}

.mobile {
  background: #3b82f6;
}

.garment {
  background: #8b5cf6;
}

.support {
  background: #ec4899;
}



.better-text {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  line-height: 1.3;
}

/* TABLET */

@media (max-width: 991px) {
  .better-section {
    padding: 70px 6%;
  }

  .better-container {
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
  }

  .better-content {
    text-align: center;
    align-items: center;
    margin-top: 0;
  }

  .better-title {
    font-size: 34px;
  }

  .better-image {
    max-width: 520px;
  }

  .better-list {
    width: 100%;
    max-width: 500px;
  }

  .better-list li {
    text-align: left;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .better-section {
    padding: 60px 5%;
  }

  .better-title {
    font-size: 30px;
    text-align: center;
  }

  .better-image {
    width: 100%;
    max-width: 100%;
  }

  .better-list {
    width: 100%;
  }

  .better-list li {
    gap: 10px;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .better-icon {
    width: 34px;
    min-width: 34px;
    height: 34px;
    font-size: 14px;
  }

  .better-text {
    font-size: 15px;
    line-height: 1.4;
  }
}